
* {
    background: #e6b1d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#evolve {
    background: #8ed694;
    width: 100px;
    height: 100px;
    border-radius: 100px;


}
