
@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-Regular.eot");
    src: url("fonts/PlayfairDisplay-Regular.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-Regular.woff") format("woff"), 
         url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-Bold.eot");
    src: url("fonts/PlayfairDisplay-Bold.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-Bold.woff") format("woff"), 
         url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-Italic.eot");
    src: url("fonts/PlayfairDisplay-Italic.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-Italic.woff") format("woff"), 
         url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-Italic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-BoldItalic.eot");
    src: url("fonts/PlayfairDisplay-BoldItalic.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), 
         url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-BoldItalic.svg") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-Light.eot");
    src: url("fonts/Raleway-Light.eot") format("embedded-opentype"), 
         url("fonts/Raleway-Light.woff2") format("woff2"), 
         url("fonts/Raleway-Light.woff") format("woff"), 
         url("fonts/Raleway-Light.ttf") format("truetype"), 
         url("fonts/Raleway-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-LightItalic.eot");
    src: url("fonts/Raleway-LightItalic.eot") format("embedded-opentype"), 
         url("fonts/Raleway-LightItalic.woff2") format("woff2"), 
         url("fonts/Raleway-LightItalic.woff") format("woff"), 
         url("fonts/Raleway-LightItalic.ttf") format("truetype"), 
         url("fonts/Raleway-LightItalic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-Medium.eot");
    src: url("fonts/Raleway-Medium.eot") format("embedded-opentype"), 
         url("fonts/Raleway-Medium.woff2") format("woff2"), 
         url("fonts/Raleway-Medium.woff") format("woff"), 
         url("fonts/Raleway-Medium.ttf") format("truetype"), 
         url("fonts/Raleway-Medium.svg") format("svg");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-MediumItalic.eot");
    src: url("fonts/Raleway-MediumItalic.eot") format("embedded-opentype"), 
         url("fonts/Raleway-MediumItalic.woff2") format("woff2"), 
         url("fonts/Raleway-MediumItalic.woff") format("woff"), 
         url("fonts/Raleway-MediumItalic.ttf") format("truetype"), 
         url("fonts/Raleway-MediumItalic.svg") format("svg");
    font-weight: lighter;
    font-style: Italic;
}

* {
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed #d7d7d7;
}



header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

body {
    font-family: "Raleway Light", Arial, serif;
    font-style: normal;
    font-size: 16px;
    color: #2d2d2d;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    background: #242424;
    color: white;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: lighter;
}

p {
    text-align: center;
}

a {
    color: #e2574c;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.company-logo {
    display: flex;
    max-width: 12%;
    justify-content: center;
    align-items: center;
}

.main-nav {
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    max-width: 79%;
    padding: 10px;

}
.shopping-cart {
    display: flex;
    max-width: 5%;
    justify-content: center;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
    url(images/banner-girl.png) no-repeat, url(images/flower-bkgd.jpg);
    background-size: contain, contain;
    background-position: center, center 50px;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-transform: capitalize;
    font-size: 3rem;
}

.banner p {
    text-transform: uppercase;

}

.main-text {
    max-width: 600px;
    font-style: normal;
    text-align: center;
    word-wrap: normal;
}

.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 310px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color:white;
    height: 250px;
    margin: 3px;
}

.item:nth-child(1){
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/mens-category.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 40%;
}

.item:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/trends-category.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.item:nth-child(3){
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/glasses-category.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.item:nth-child(4){
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/sale-category.jpg);
    background-size: cover;
    background-position: center;
}

.item:nth-child(5){
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/bags-category.jpg);
    background-size: cover;
    background-position: center;
}

.item:nth-child(6){
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/womens-category.jpg);
    background-size: cover; 
    background-position: center;
    flex-grow: 2;
    flex-basis: 40%;

}

.most-loved {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.sign-up {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/wave-bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    position: relative;
}

.sign-up p {
    max-width: 550px;
}

.sign-up-email-input {
    margin: 10px;
    width:250px;
    padding: 12px;
    border-radius: 12px;
}

.subscribe-button {
    background: #e2574c;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 12px;
}

.footer {
    display: flex;
    justify-content: space-between;
}



/* Tablet */
@media screen and (min-width: 600) {

    body {
        font-size: 14px;
        width: 50%
    }

    header {
        display: flex;
        
    }

    .company-logo
    {
        order: 1;
    }

    .site-nav {
        width:100%;
        order: 3;
    }

    .shopping-cart {
        order: 2;
    }
}

/* Desktop */
@media screen and (min-width:1240px) {

}
    

