
@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-Regular.eot");
    src: url("fonts/PlayfairDisplay-Regular.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-Regular.woff") format("woff"), 
         url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-Bold.eot");
    src: url("fonts/PlayfairDisplay-Bold.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-Bold.woff") format("woff"), 
         url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-Italic.eot");
    src: url("fonts/PlayfairDisplay-Italic.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-Italic.woff") format("woff"), 
         url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-Italic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("fonts/PlayfairDisplay-BoldItalic.eot");
    src: url("fonts/PlayfairDisplay-BoldItalic.eot?iefix") format("embedded-opentype"), 
         url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), 
         url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), 
         url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"), 
         url("fonts/PlayfairDisplay-BoldItalic.svg") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-Light.eot");
    src: url("fonts/Raleway-Light.eot") format("embedded-opentype"), 
         url("fonts/Raleway-Light.woff2") format("woff2"), 
         url("fonts/Raleway-Light.woff") format("woff"), 
         url("fonts/Raleway-Light.ttf") format("truetype"), 
         url("fonts/Raleway-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-LightItalic.eot");
    src: url("fonts/Raleway-LightItalic.eot") format("embedded-opentype"), 
         url("fonts/Raleway-LightItalic.woff2") format("woff2"), 
         url("fonts/Raleway-LightItalic.woff") format("woff"), 
         url("fonts/Raleway-LightItalic.ttf") format("truetype"), 
         url("fonts/Raleway-LightItalic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-Medium.eot");
    src: url("fonts/Raleway-Medium.eot") format("embedded-opentype"), 
         url("fonts/Raleway-Medium.woff2") format("woff2"), 
         url("fonts/Raleway-Medium.woff") format("woff"), 
         url("fonts/Raleway-Medium.ttf") format("truetype"), 
         url("fonts/Raleway-Medium.svg") format("svg");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url("fonts/Raleway-MediumItalic.eot");
    src: url("fonts/Raleway-MediumItalic.eot") format("embedded-opentype"), 
         url("fonts/Raleway-MediumItalic.woff2") format("woff2"), 
         url("fonts/Raleway-MediumItalic.woff") format("woff"), 
         url("fonts/Raleway-MediumItalic.ttf") format("truetype"), 
         url("fonts/Raleway-MediumItalic.svg") format("svg");
    font-weight: lighter;
    font-style: Italic;
}

* {
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed #d7d7d7;
}



header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

body {
    font-family: "Raleway Light", Arial, serif;
    font-style: normal;
    font-size: 14px;
    color: #2d2d2d;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #242424;
    color: white;
}


h1 {
    font-family: 'Playfair Display';
    font-weight: lighter;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Raleway Light';
}

a {
    color: #e2574c;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Header*/
.company-logo {
    display: flex;
    max-width: 22vw;
    justify-content: center;
    align-items: center;
}

.main-nav {
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    max-width: 100vw;
    padding: 10px;
    padding-bottom: 0px;

}
.shopping-cart {
    display: flex;
    max-width: 12vw;
    justify-content: center;
}

/* Banner */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
    url(images/banner-girl.png) no-repeat, url(images/flower-bkgd.jpg);
    background-size: contain, contain, cover;
    background-position: center, center 50px;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
}

.banner p {
    text-transform: uppercase;
    text-align: center;
}

/* Main-text*/
.main-text {
    max-width: 600px;
    font-style: normal;
    text-align: center;
    word-wrap: normal;
}

.main-text p {
    color: #969696;
}

/* Featured */
.featured {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}


.item-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/mens-category.jpg);
    background-size: cover;
    background-position: center;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    max-width: 100vw;
    height: 50vw;
    margin: 0 auto;
    border: 4px solid white;
    border-left: 0;
    border-right: 0;
}

.item-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/trends-category.jpg);
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 50vw;
    height: 50vw;
    margin: 0 auto;
    border: 4px solid white;
    border-left: 0;
}

.item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                 url(images/glasses-category.jpg);
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 50vw;
    height: 50vw;
    margin: 0 auto;
    border: 4px solid white;
    border-right: 0;
}

.item-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/sale-category.jpg);
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 50vw;
    height: 50vw;
    margin: 0 auto;
    border: 4px solid white;
    border-left: 0;
}

.item-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/bags-category.jpg);
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 50vw;
    height: 50vw;
    margin: 0 auto;
    border: 4px solid white;
    border-right: 0;
}

.item-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/womens-category.jpg);
    background-size: cover;
    background-position: center;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 100vw;
    height: 50vw;
    margin: 0 auto;
    border: 4px solid white;
    border-left: 0;
    border-right: 0;
}

/* Most-Loved Products */
.most-loved {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/* Sign-up Form */
.sign-up {
    position: relative;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) ),
                url(images/wave-bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
}

.sign-up p {
    margin-top: 40px;
    margin: 0 auto;
}

.input-button {
    position: relative;
}

.sign-up-email-input {
    margin: 10px;
    width: 350px;
    padding: 12px;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    right: 8px;
}

.subscribe-button {
    background: #e2574c;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: 62px;
    right:22px;
}


/* Footer */
.company-detail {
    width: 40%;
}

.media {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media span {
    visibility: collapse;

}

/* Media Queries*/
/* Tablet */
@media screen and (min-width: 600px) {

    body {
        font-size: 16px;
    }


    .company-logo
    {
        display: flex;
        order: 1;
    }

    .site-nav {
        width:100%;
        display: flex;
        order: 2;
    }

    .shopping-cart {
        display: flex;
        order: 3;
    }
}

/* Desktop */
@media screen and (min-width:1240px) {

}
    

